.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 25%;
  max-width: 25%;
  height: 100vh;

  padding: 16px;
  border-right: 1px solid #ddd;
  background: #fafafa;
}

.content {
  flex: 1;
  height: 100vh;

  padding: 20px;
  overflow-y: auto;
}